*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

#Logo{
    width: 100px;
    height: auto;
}

#navLinks{
    list-style-type: none;

    display: flex;
    align-items: center;
    justify-content: space-around;
}