/*Använder variabler då det är lättare att göra stiländringar snabbt då*/
:root{
    --mainCol1: #141414;
    --mainCol2: #011638;
    --mainCol3: #0D21A1;
    --mainCol4: #EEC643;
    --mainCol5: #EEF0F2;
}
@font-face {
    font-family: "MainFont";
    src: url("../fonts/Coco-Sharp-Heavy-trial.ttf");
}


*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background-color: var(--mainCol5);
}

/*----------NAV-BAR----------*/
#logo{
    width: 120px;
    height: 120px;
    
}
#logoCircle{
    background-color: var(--mainCol4);
    width: 150px;
    height: 150px;
    border-radius: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}
#navLinks{
    width: 100%;
    height: 80px;

    background-color: var(--mainCol4);

    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 10px;
}
#leftLinks{
    list-style-type: none;

    height: 100%;
    width: 500px;

    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 45px;
}
#rightLinks{
    list-style-type: none;

    height: 100%;
    width: 500px;

    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 45px;
}

li > a{
    font-size: 35px;
    font-family: MainFont;
    text-decoration: none;
    color: var(--mainCol1);
}
/*--------------------*/

#banner{
    width: 100%;
    height: 90vh;
    background-image: url("../img/Banner.jpg");

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
h1{
    font-size: 150px;
    font-family: MainFont;
    color: var(--mainCol5);
    text-shadow: 0px 0px 5px black;
}
h2{
    font-size: 80px;
    font-family: MainFont;
    color: var(--mainCol5);
    text-shadow: 0px 0px 5px black;
}
h3{
    font-size: 60px;
    font-family: MainFont;
    color: var(--mainCol5);
    text-shadow: 0px 0px 5px black;
}
p{
    font-size: 25px;
    font-family: MainFont;
    color: var(--mainCol5);
    text-shadow: 0px 0px 5px black;
}

#booking{
    width: 100%;
    height: 70vh;
    background-color: var(--mainCol2);

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
}
#bookText{
    width: 900px;
    text-align: center;
}
#bookButton{
    width: 400px;
    height: 150px;
    font-size: 50px;
    font-family: MainFont;
    text-decoration: none;
    color: var(--mainCol5);

    background-color: var(--mainCol2);
    border: 5px solid var(--mainCol5);
    border-radius: 5px;

    display: flex;
    align-items: center;
    justify-content: center;
}

#infoGrid{
    display: grid;
    width: 70%;
    height: 150vh;
    margin: 100px auto 100px auto;

    grid-template-areas: 
    "a1 i1"
    "i2 iq"
    "i2 a2"
    ;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 20px;
}
#article1{
    grid-area: a1;
}
#article2{
    grid-area: a2;
}
#img1{
    grid-area: i1;
    background-image: url("../img/shipWithSky.jpg");
    background-repeat: no-repeat;
    background-position: center; 
    background-size: auto 100%;
}
#img2{
    grid-area: i2;
    background-image: url("../img/food1.jpg");
    background-repeat: no-repeat;
    background-position: center; 
    background-size: auto 100%;
}

.infoHeader{
    color: var(--mainCol3);
    text-shadow: none;
    font-size: 50px;
}
.infoText{
    color: var(--mainCol2);
    text-shadow: none;
    font-size: 20px;
}



#map{
    background-color: var(--mainCol2);
    width: 100%;
    height: 90vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

footer{
    background-color: var(--mainCol1);
    width: 100%;
    height: 35vh;
    padding: 30px;
}
#footerGrid{
    display: grid;
    grid-template-areas: 
    "flg fhe fbm fam"
    "flg fhe fmm fsm"
    "flg fhe flm fcm"
    "flg fad fmn fma"
    ;
    grid-template-columns: 3fr 3fr 3fr 5fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}

#fLogo{
    grid-area: flg;
    width: 200px;
    height: 200px;
}
#fHeader{
    grid-area: fhe;
    font-size: 60px;
}
#fAdress{
    grid-area: fad;
}
#fNumber{
    grid-area: fmn;
}
#fMail{
    grid-area: fma;
}
#fBook{
    grid-area: fbm;
}
#fMenu{
    grid-area: fmm;
}
#fAlle{
    grid-area: flm;
}
#fAbout{
    grid-area: fam;
}
#fSafety{
    grid-area: fsm;
}
#fContact{
    grid-area: fcm;
}
footer > p{
    font-size: 10px;
    text-align: center;
}